openapi: 3.0.0
info:
  title: Recipe Finder API
  version: 1.0.0
  description: API for finding recipes based on available ingredients
servers:
  - url: https://api.recipefinder.com/v1
paths:
  /recipes/search:
    get:
      summary: Search recipes by ingredients
      parameters:
        - name: ingredients
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Successful search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recipes/{id}:
    get:
      summary: Get detailed recipe information
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Recipe details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipe'
        '404':
          description: Recipe not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /ingredients/suggestions:
    get:
      summary: Get ingredient suggestions for autocomplete
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
      responses:
        '200':
          description: Ingredient suggestions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngredientSuggestionsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recipes/popular:
    get:
      summary: Get popular recipes
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
      responses:
        '200':
          description: Popular recipes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PopularRecipesResponse'
components:
  schemas:
    Recipe:
      type: object
      required:
        - id
        - title
        - description
        - ingredients
        - instructions
        - cookingTime
        - difficulty
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        image:
          type: string
        cookingTime:
          type: integer
          minimum: 1
        difficulty:
          type: string
          enum: [easy, medium, hard]
        ingredients:
          type: array
          items:
            type: string
        instructions:
          type: array
          items:
            type: string
        matchScore:
          type: number
          minimum: 0
          maximum: 1
    SearchResponse:
      type: object
      required:
        - recipes
        - totalCount
        - hasMore
      properties:
        recipes:
          type: array
          items:
            $ref: '#/components/schemas/Recipe'
        totalCount:
          type: integer
          minimum: 0
        hasMore:
          type: boolean
    IngredientSuggestionsResponse:
      type: object
      required:
        - suggestions
      properties:
        suggestions:
          type: array
          items:
            type: string
    PopularRecipesResponse:
      type: object
      required:
        - recipes
      properties:
        recipes:
          type: array
          items:
            $ref: '#/components/schemas/Recipe'
    ErrorResponse:
      type: object
      required:
        - error
        - message
        - code
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: integer
